body:not(.home):not(.page-id-2042) {
  .ct-footer {
    margin-top: 60px;
  }
}

/* Footer */
.ct-footer {
  .ct-widget {
    img.footer-logo {
      max-width: 130px !important;
    }

    .footer-item {
      display: flex;
      align-items: center;
      font-size: 13px;
      text-align: left;

      a {
        color: var(--paletteColor8);

        &:hover {
          color: var(--paletteColor4);
          opacity: 0.8;
        }
      }

      &:not(:first-child) {
        margin-left: 30px;
      }

      .footer-item-icon {
        margin-right: 10px;
        display: flex;
        align-items: center;

        svg {
          fill: #fff;
          width: 36px;
          height: 36px;
        }
      }

      .footer-item-title,
      .footer-item-content {
        display: block;
      }

      .footer-item-content {
        color: var(--paletteColor8);
      }

    }
  }

  img.footer-payment-icon {
    max-width: 300px !important;
  }

  [data-column=widget-area-5]{
    text-align: center;
  }
}

/* Footer form */
#gap_footer_form {
  .wpcf7 form .wpcf7-response-output {
    padding: 5px 10px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }


  .wpcf7-spinner {
    margin-top: 6px;
    width: 20px;
    height: 20px;

    &::before {
      transform-origin: 6px 6px;
    }

  }

}

.gap_contact_items {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 999;

  .triggerButton {
    display: none;

    &+label {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: -7px;
      background-color:#000;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      z-index: 2;
      //animation: glowing 1500ms infinite;
      //animation: shake 1500ms infinite;
      border: 1px solid rgba(255,255,255,0.2);

      &:before,
      &:after {
        position: absolute;
        content: '';
        height: 20px;
        width: .25em;
        background-color: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: .5em;
        transition: all .25s;
      }

      &:before {
        height: 20px;
        width: .25em;
      }

      &:after {
        width: 20px;
        height: .25em;
      }

    }

    &:checked+label {

      &:before {
        transform: rotatez(-45deg);
      }

      &:after {
        transform: rotatez(-45deg);
      }
    }

    &:checked {
      ~a {
        opacity: 1;

        &:hover {
          opacity: .9;
        }
      }

      &~a.one {
        transform: translateX(-93px);
        transition-delay: .2s;
      }

      &~a.two {
        transform: translateX(-81px) translateY(-47px);
        transition-delay: .1s;
      }

      &~a.three {
        transform: translateX(-47px) translateY(-83px);
      }

      &~a.four {
        transform: translateY(-93px);
      }

    }
  }

  a {
    background-color: #000;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotateZ(90deg);
    opacity: 0;
    transition-property: all;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    svg {
      fill: #fff;
      width: 100%;
      height: 100%;
    }
  }

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


#gap_map {
  background-image: url("../img/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 900px;
  padding: 15px;

  iframe {
    //filter: saturate(0);
    width: 100%;
    height: 500px;
    border: 0;
  }
}

