/* Ký gửi online */
.kyguionline {
  .row+.row {
    margin-top: 1rem;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .box_inner {
    background-color: var(--has-classic-forms, var(--form-field-initial-background));
    padding: 15px 20px 20px;
    border-radius: 6px;
    margin-top: 10px;
    @include mobile {
      padding: 0;
      background: none;
    }
  }

  p {
    margin-bottom: 0;
  }

  *+p,
  *+label {
    margin-top: 10px;
  }

  .col-lg-4+.col-lg-4 {
    @include mobile {
      margin-top: 20px;
    }
  }

  fieldset {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    height: 100%;



    legend {
      background-color: #000;
      border: none;
      color: #fff;
      margin-left: 0px;
      border-radius: 4px;
    }
  }
}