//Checkout
.woocommerce-form-coupon-toggle {
  &>.woocommerce-info {
    display: none;
  }
}


/* Woocommerce */
@media (min-width: 480px) {
  .ct-cart-actions {
    .quantity {
      width: 80px !important;
    }
  }
}

.add_to_cart_button::after,
.button.single_add_to_cart_button:before {
  display: inline-block;
  font-family: 'gap-icon' !important;
  /* float: left; */
  content: "\e901";
  font-weight: 400;
  z-index: 999;
  color: #fff;
  opacity: 1;
  position: static;
  filter: none;
  margin-right: 20px;
}

.add_to_cart_button::after {
  margin-left: 10px;
  margin-right: 0;
}

/* products  */
ul.products {
  li.product {

    padding-bottom: 20px;
    border: 1px solid var(--paletteColor5);
    border-radius: 6px;
    overflow: hidden;
    transition: all .2s;

    .woocommerce-loop-product__title,
    span.price,
    .ct-woo-card-actions {
      padding: 0 20px;
    }

    span.price {
      font-size: 18px;
    }

    .ct-woo-card-actions {
      margin-top: 10px;
    }

  }
}



//My account

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--nrp-points a:before {
  content: '';
}

//button_links
.button_links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;

    a {
      border-radius: 4px;
      display: inline-block;
      padding: 3px 10px;
      background-color: #D9D9D9;
      color: #000;
      font-size: 14px;

      &:hover {
        background-color: #ECECEC;
      }
    }
  }
}

//Countdown
.woocommerce-product-gallery {

  #open_countdown {
    position: absolute;
    z-index: 999;
    background-color: #000;
    color: #fff;
    bottom: 30px;
    padding: 5px 15px;
    right: 30px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 6px;
  }
}

//Sales countdown

.woo-sctr-shortcode-wrap-wrap.woo-sctr-shortcode-wrap-wrap-salescountdowntimer {
  text-align: left !important;
}

.woo-sctr-shortcode-wrap {
  margin-left: -11px !important;
}

//Cart
body.woocommerce-cart {
  .woocommerce-shipping-totals.shipping {
    display: none;
  }
}

//Automatically Update Cart when quantity changed in WooCommerce
.woocommerce button[name="update_cart"],
.woocommerce input[name="update_cart"] {
  display: none;
}

//Mobile account tabs

.woocommerce-MyAccount-navigation {
  ul {
    @include mobile {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;

      li {
        width: 30%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 6px;
        flex-grow: 1;
        box-sizing: border-box;
        margin: 0 5px 10px;
        justify-content: space-between;
        text-align: center;

        a{
          border-radius: 6px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-items: center;
          font-size: 10px;
          padding: 12px;

          &::before{
            margin-right: 0;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

//Account page

.membership-bar-wrap{
  display: block;
  span{
    padding: 0;
  }

  .membership-level,
  .membership-point-level{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
  }
  .membership-point-level {
    margin-top: 5px;
    span{
      min-width: 70px;
      text-align: center;
      &:last-child{
        text-align: right;
      }
    }
  }

  .membership-bar{
    border-radius: 30px;
    overflow: hidden;
    background-color: #D9D9D9;
    display: block;
    .membership-bar-load{
      display: block;
      background-color: #000;
      color: #fff;
      text-align: center;
      font-size: 14px;
      &.load-point-0{
        visibility: hidden;
      }
    }
  }
}